<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nervos mNFT to Godwoken bridge (PortalWallet)</title>
    <base href="/" />
  </head>
  <body>
    <h1>Nervos mNFT to Godwoken bridge (PortalWallet)</h1>
    <div id="root"></div>
  </body>
</html>